.bottom-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    padding: 10px;
    gap: 10px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    background-color: rgba(255, 255, 255, .7);;
    backdrop-filter: blur(10px);
    border-radius: 14px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15);
}


.bottom-bar-divider {
    width: .5px;
    height: 24px;
    background: rgba(0, 0, 0, .13);
}

.icon-button {
  width: 28px;
  height: 28px;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  display: flex;              
  align-items: center;
  justify-content: center;

  padding: 0;              
  line-height: 0;         
  transition: background-color 0.2s ease;
}

.icon-button:hover {
    background: #f3f4f6;
}

.tool-icon {
    color: rgba(0, 0, 0, .6);
    width: 20px;
    height: 20px;
}